<body>
<div class="page-content" style="background-image: url('/assets/wizard-v1.jpg')">
  <div class="wizard-v1-content">

    <div class="wizard-form">
      <form class="form-register" id="form-register" action="#" method="post">
        <div id="form-total">
          <!-- SECTION 1 -->
          <% @questions.each_with_index do |question, index| %>
            <h2>
              <!-- <span class="step-icon"><i class="zmdi zmdi-account"></i></span> -->
              <span class="step-number"><%= index+1 %>. </span>
              <span class="step-text"><%= question.question %></span>
            </h2>
            <section>
              <div class="inner">
                <% if question.question_type == 'radio'  %>
                  <% question.answers.each do |answer| %>
                    <div class="form-row">
                      <%= radio_button_tag question.id, answer.id %>
                      <label for="username"><%= answer.answer %></label>
                    </div>
                  <% end %>
                <% else %>
                  <%= select_tag question.id, options_for_select(question.answers.collect{ |u| [u.answer, u.id] }) %>
                <% end %>
              </div>
            </section>
          <% end %>
        </div>
        <section>
          <div class="inner">
            <div class="form-row">
              <button class="btn btn-primary" id="save-response"> Save </button>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
</body>